<%= simple_form_for([@user, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="horizontal-list centered">
    <li>
      <div class="field">
        <li>
          <%= f.label "I want help managing my" %><br />
        </li>
        <li>
          <%= f.select(:reminder_type, ["Weight", "Medicine", "Supplements", "Vitamins"], {}) %>
        </li>
      </div>
    </li>
    <li>
      <div class="field">
        <li>
          <%= f.label " by receiving daily texts at" %><br />
        </li>
          <%= f.time_select :reminder_time, {ampm: true} %>
        </li>
      </div>
    </li>
  </ul>

  <div class="field centered">
    <%= f.label "Please send me this text message:" %><br />
    <%= f.text_area :message %>
  </div>

  <div class="actions centered">
    <%= f.submit "Schedule Reminder Text" %>
  </div>
<% end %>