<% @tasks.each do |task| %>
  <h2>Your Progress: <%= task.reminder_type %></h2>
  <% if task.reminder_type == "Weight" || "Weigh-In" %>
    <%= line_chart task.records.group_by_month(:created_at, format: "%B %d, %Y").maximum(:weight), min: 90, discrete: true %>
  <% else %>
    <%= pie_chart task.records.group(:completed).count %>
  <% end %>
<% end %>

<h1>Here are your tasks...</h1>
<table>
  <tr>
    <th>Reminder type</th>
    <th>Frequency</th>
<!--     <th>Reminder time</th> -->
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
<%#= user = current_user %>
  <tr>
    <td><%= task.reminder_type %></td>
    <td><%= task.frequency %></td>
    <td><%#= task.reminder_time %></td>
    <td><%= task.message %></td>
    <td><%= link_to "Show", [@user, task] %></td>
    <td><%= link_to "Add Record", new_user_task_record_path(@user, task) %></td>    
    <td><%= link_to "Edit", edit_user_task_path(@user, task) %></td>
    <td><%= link_to "Destroy", [@user, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Add a Task!", new_user_task_path(@user) %>