<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'tasks' %>
<% end %>

<h1 class="greeting">Good to see you again, <%= current_user.nickname %>!</h1>
<h1 class="greeting-sub">Here's your progress:</h1>


<table id="user-charts">
        <% @tasks.each_slice(3) do |row| %>
<tr>
        <% row.each do |task| %>
<td>
            Your Progress: <%= task.reminder_type %>
            <% if task.reminder_type == ("Weigh-In" && "Weight") %>
              <%= line_chart task.records.group_by_month(:created_at, format: "%B %d, %Y").maximum(:weight), min: 90, discrete: true %>
            <% else %>
              <%= pie_chart task.records.group(:completed).count, library: {backgroundColor: "black", margin: "0px"} %>
            <% end %>
</td>
        <% end %>
</tr>
<% end %>
</table>

<h5 class="nav-links"><%= link_to "Manage Scheduled Messages", user_tasks_path(@user), :class => "nav-links" %></h5>
<!-- AJAX Call : Insert all messages below -->
<h5 class="nav-links"><%= link_to "Schedule a New Reminder", new_user_task_path(@user), :class => "nav-links" %></h5>