<p id="notice"><%= notice %></p>

<p>
  <b>Reminder type:</b>
  <%= @task.reminder_type %>
</p>

<p>
  <b>Frequency:</b>
  <%= @task.frequency %>
</p>

<!-- <p>
  <b>Reminder time:</b>
  <%#= @task.reminder_time %>
</p> -->

<p>
  <b>Message:</b>
  <%= @task.message %>
</p>

<%= link_to 'Edit', edit_user_task_path(@user,@task) %> |
<%= link_to 'Back', user_tasks_path %>
