<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'tasks/new' %>
<% end %>

<div class="header-new">
  <%= image_tag("spoon-pills.jpg", :alt => " ", :class => "picture-new") %>
</div>

<h1 class="greeting">Managing your weight or medication?</h1>
<h3 class="greeting-sub">We'll be the friend to text you.</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <ul class="horizontal-list centered">
    <li><%= f.label :email %>:<br />
    <%= f.email_field :email, autofocus: true %></li>

    <li><%= f.label :password %>:<br />
      <%= f.password_field :password, autocomplete: "off" %></li>
  </ul>
  <ul class="horizontal-list centered">
  <% if devise_mapping.rememberable? -%>
    <li>Remember Me<%= f.check_box :remember_me %></li>
  <% end -%>

  <li class="greeting-sub-sub"><%= f.submit "~Sign in~" %></li>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "profile-buttons" %><br />
<% end -%>