<!DOCTYPE html>
<html>
<head>
  <title>OpTakeMyMeds</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="http://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<p class="navbar-text pull-right">
	<% if user_signed_in? %>
		<div class="profile-buttons">
			<%= link_to 'Edit profile', edit_user_registration_path, :class => 'profile-buttons' %> |
			<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'profile-buttons'  %>
		</div>
	<% else %>
		<div class="profile-buttons">
		  <%= link_to "Sign up", new_user_registration_path, :class => 'profile-buttons'  %> |
		  <%= link_to "Login", new_user_session_path, :class => 'profile-buttons'  %>
		</div>
	<% end %>


	<!-- Notice and Alerts from 'Devise' gem's guide -->
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>

<%= yield %>

</body>
</html>